[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
tensorflow-cpu = "==2.4"
pillow = "*"
scipy = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.8"
